<section class="mbr-section content4 cid-rmA3mYALQA" id="content4-14">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                Իմ Էջ</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                Անուն - <%= user.username %><br>Email - <%= user.email %><br></h3>

            </div>
        </div>
    </div>
</section>

<section class="services5 cid-rmA2Q5ZoVL" id="services5-13">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left mbr-fonts-style m-0 display-1">
                Իմ Գրախոսություն</h2>

            </div>
            
            <!-- pending reviews-->
            <% for(let i = 0; i < pendingreviews.length; ++i){%>
                <div class="card px-3 col-12">
                    <div class="card-wrapper media-container-row media-container-row">
                        <div class="card-box">
                            <div class="top-line pb-3">
                                <p class="mbr-text cost mbr-fonts-style m-0 display-5"><% if(pendingreviews[i].status == 'disapproved') { %>Disapproved, comment: <b><%= pendingreviews[i].comment %></b><a href="/resubmit/<%= pendingreviews[i]._id%>"><button type="button" style="padding: 0.25rem 1rem;" class="btn btn-primary">Resubmit</button></a> <% } else { %>Pending for approval<% } %></p>
                            </div>
                            <div class="bottom-line" style="padding-bottom:10px">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                        <i style="color:black">Ընդհանուր տեղեկություններ: </i><%= pendingreviews[i].basic_summery%>
                                </p>
                            </div>
                            <div class="bottom-line" style="padding-bottom:10px">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                        <i style="color:black">Այցելությունից առաջ: </i><%= pendingreviews[i].before_visiting%>
                                </p>
                            </div>
                            <div class="bottom-line" style="padding-bottom:10px">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                        <i style="color:black">Բուն այցելությունը: </i><%= pendingreviews[i].the_visit_itself%>
                                </p>
                            </div>
                            <div class="bottom-line">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                        <i style="color:black">Այցելությունից հետո. Մտորումներ: </i><%= pendingreviews[i].after_visiting%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>

            <!-- reviews-->
            <% for(let i = 0; i < reviews.length; ++i){%>
                <div class="card px-3 col-12">
                    <div class="card-wrapper media-container-row media-container-row">
                        <div class="card-box">
                            <div class="top-line pb-3">
                                <h4 class="card-title mbr-fonts-style display-5">
                                       
                            </h4>
                                <p class="mbr-text cost mbr-fonts-style m-0 display-5"></p>
                            </div>
                            <div class="bottom-line" style="padding-bottom:10px">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                        <i style="color:black">Ընդհանուր տեղեկություններ: </i><%= reviews[i].basic_summery%>
                                </p>
                            </div>
                            <div class="bottom-line" style="padding-bottom:10px">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                        <i style="color:black">Այցելությունից առաջ: </i><%= reviews[i].before_visiting%>
                                </p>
                            </div>
                            <div class="bottom-line" style="padding-bottom:10px">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                        <i style="color:black">Բուն այցելությունը: </i><%= reviews[i].the_visit_itself%>
                                </p>
                            </div>
                            <div class="bottom-line">
                                <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                        <i style="color:black">Այցելությունից հետո. Մտորումներ: </i><%= reviews[i].after_visiting%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>

        </div>
    </div>
</section>