  
  <!-- --------------------------------------------------------------------------------------------------  -->
  <section class="mbr-section content4 cid-rlKz4zwqC4" id="content4-x">

        <div class="container">
            <div class="media-container-row">
                <div class="title col-12 col-md-8">
                    <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    <%=museum.title%></h2>

                </div>
            </div>
        </div>
    </section>

    <!-- <section class="mbr-section content6 cid-rlKyT88CfI" id="content6-v">

        <div class="container">
            <div class="media-container-row">
                <div class="col-12 col-md-8">
                    <div class="media-container-row">
                        <div class="media-content">
                            <div class="mbr-section-text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="mbr-section content8 cid-rlKyVfwNuh" id="content8-w">

        <div class="container">
            <div class="media-container-row title">
                <div class="col-12 col-md-8">
                    <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="/addreview/<%=museum._id%>">Add Review<br></a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="services5 cid-rlKzRXZv6x" id="services5-z">
        <!---->

        <!---->
        <!--Overlay-->

        <!--Container-->
        <div class="container">
            <div class="row">
                <!--Titles-->
                <div class="title pb-5 col-12">
                    <h2 class="align-left mbr-fonts-style m-0 display-1">
                    Review List
                </h2>

                </div>
                <!--Card-1-->

                <% for(let i = 0; i < reviews.length; ++i){%>
                    <div class="card px-3 col-12">
                        <div class="card-wrapper media-container-row media-container-row">
                            <div class="card-box">
                                <div class="top-line pb-3">
                                    <h4 class="card-title mbr-fonts-style display-5">
                                            <%= reviews[i].username%>
                                </h4>
                                    <p class="mbr-text cost mbr-fonts-style m-0 display-5"></p>
                                </div>
                                <div class="bottom-line" style="padding-bottom:10px">
                                    <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                            <i style="color:black">Basic Summary: </i><%= reviews[i].basic_summery%>
                                    </p>
                                </div>
                                <div class="bottom-line" style="padding-bottom:10px">
                                    <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                            <i style="color:black">Before Visiting: </i><%= reviews[i].before_visiting%>
                                    </p>
                                </div>
                                <div class="bottom-line" style="padding-bottom:10px">
                                    <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                            <i style="color:black">The Visit Itself: </i><%= reviews[i].the_visit_itself%>
                                    </p>
                                </div>
                                <div class="bottom-line">
                                    <p class="mbr-text mbr-fonts-style m-0 b-descr display-7">
                                            <i style="color:black">After Visiting, Reflection: </i><%= reviews[i].after_visiting%>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
      

            </div>
        </div>
    </section>
